/* Start Variables */
:root {
  --section-background: #f6f6f6;
  --main-color: #105bac;
  --writing-color: #555;
  --section-padding: 60px;
  --main-duration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #b9b3b3;
}
::-webkit-scrollbar-thumb {
  background-color: #f6821f;
  height: 60px;
}
body {
  font-family: "Work Sans", Tahoma, Arial, sans-serif;
  background-color: #f6f6f6;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Very Large */
@media (min-width: 1400px) {
  .container {
    width: 1350px;
  }
}
/* End Global Rules */
/* Start Page Scroll Progress */
.scroller {
  background-color: #f6821f;
  width: 0;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
/* End Page Scroll Progress */
/* Start Components */
.main-heading {
  padding: 10px 20px;
  margin: 0 auto calc(var(--section-padding) - 20px);
  border: 2px solid black;
  width: fit-content;
  font-size: 30px;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  transition: var(--main-duration);
  overflow: hidden;
}
.main-heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translatex(-50%);
  z-index: -1;
  transition: 0.4s;
}
.main-heading:hover {
  border: 2px solid white;
  color: white;
  font-size: 31px;
}
.main-heading:hover::before {
  box-shadow: 0 0 0 200px var(--main-color);
}
@media (max-width: 575px) {
  .main-heading {
    font-size: 25px;
  }
  .main-heading:hover {
    color: white;
    font-size: 26px;
  }
}
/* Start Components */
/* Start Header */
header {
  background-color: var(--main-color);
}
header .container {
  display: flex;
  align-items: center;
}
nav {
  flex: 1;
  position: relative;
}
header .container .logo img {
  max-height: 60px;
}
.main-nav {
  display: flex;
  justify-content: flex-end;
}
.main-nav li {
  margin-left: 18px;
}
.main-nav li a {
  color: white;
  letter-spacing: 0.5px;
  transition: var(--main-duration);
}
.main-nav li a:hover {
  color: #f6821f;
}
@media (max-width: 991px) {
  .main-nav {
    display: none;
  }
  .main-nav.open {
    position: absolute;
    background-color: var(--main-color);
    border-top: 3px solid #f6821f;
    display: block;
    width: calc(100% + 85px);
    top: 46px;
    right: 0;
    border-radius: 4px;
    padding: 10px;
  }
  .main-nav li {
    margin-left: 0;
    padding: 5px;
  }
  .main-nav li:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
  }
  .main-nav li a:hover {
    padding-left: 5px;
  }
}
nav .toggle-box {
  width: 40px;
  height: 30px;
  background: none;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  display: none;
}
nav .toggle-box span {
  display: block;
  height: 5px;
  margin-bottom: 6px;
  background-color: #fff;
}
@media (max-width: 991px) {
  nav .toggle-box {
    display: block;
  }
  nav .toggle-box.menu-open::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6821f transparent;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* End Header */
/* Start Welcome Section */
.welcome {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.welcome .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 575px) {
  .welcome .container {
    flex-direction: column;
  }
}
.welcome .container .hello-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.welcome .container .hello-box h1 {
  font-size: 34px;
  margin-bottom: 20px;
}
.welcome .container .hello-box p {
  font-size: 18px;
  padding: 15px;
  color: var(--writing-color);
  line-height: 1.5;
}
.welcome .container .hello-box p:hover {
  color: black;
}
.welcome .container figure {
  width: 25%;
}
.welcome .container figure img {
  max-width: 100%;
  border-radius: 6px 6px 0 0;
}
.welcome .container figure figcaption {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: var(--main-color);
  color: white;
  padding: 10px;
  border-radius: 0 0 6px 6px;
}
.welcome .container figure figcaption:hover {
  color: #f6821f;
}
@media (max-width: 575px) {
  .welcome .container .hello-box {
    width: 100%;
    margin-bottom: 30px;
  }
  .welcome .container figure {
    width: 100%;
  }
  .welcome .container figure img {
    min-width: 100%;
  }
}
/* End Welcome Section */
/* Start Personal Information Section  */
.personal-info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.personal-info .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.personal-info .box {
  padding: 15px 10px;
  font-size: 18px;
  border-bottom: 2px solid #eee;
}
.personal-info .box span:first-child {
  font-weight: 600;
}
.personal-info .box span:last-child {
  color: var(--writing-color);
}
.personal-info .box span:last-child:hover {
  color: black;
}
/* End Personal Information Section  */
/* Start Skills Section */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.skills .container .skill h3 {
  font-size: 28px;
  padding: 10px;
  margin-top: 50px;
  color: var(--main-color);
}
.skills .container .skill div {
  padding: 15px 10px;
  font-size: 18px;
  border-bottom: 2px solid #eee;
}
.skills .container .skill .summary span {
  display: block;
  font-weight: 600;
}
.skills .container .skill .summary p {
  margin: 15px 0 15px;
  line-height: 1.5;
}
.skills .container .skill .content span {
  display: block;
  font-weight: 600;
}
.skills .container .skill .content ol {
  list-style-position: inside;
  margin: 15px 0;
}
.skills .container .skill h3 + p {
  padding: 15px 10px;
  margin: 15px 0 15px;
  line-height: 1.5;
  font-size: 18px;
  border-bottom: 2px solid #eee;
}
/* End Skills Section */
/* Start Education Section */
.education {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.education .container span:first-child {
  font-weight: 600;
  font-size: 18px;
}
.education .container span:last-child {
  font-size: 18px;
  line-height: 1.5;
  color: var(--writing-color);
}
/* End Education Section */
/* Start Work Experience Section  */
.experience {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.experience .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (min-width: 992px) {
  .experience .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.experience .container .job {
  border: 1px solid #ccc;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.experience .container .job div {
  padding: 15px 10px;
  font-size: 18px;
  border-bottom: 2px solid #eee;
  transition: var(--main-duration);
}
.experience .container .job div:hover {
  border-bottom-color: #f6821f;
  padding-left: 15px;
}
.experience .container .job div span:first-child {
  font-weight: 600;
}
/* End Work Experience Section  */
/* End Languages Section  */
.languages {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.languages .lang {
  padding: 15px 10px;
  font-size: 18px;
}
.languages .lang span:first-child {
  font-weight: 600;
}
.languages .lang span:last-child {
  color: var(--writing-color);
}
.languages .lang span:last-child:hover {
  color: black;
}
/* End Languages Section  */
/* Start Projects Section */
.projects {
  padding-top: calc(var(--section-padding) - 15px);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.projects .container p:first-child {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.projects .container .repos-container {
  background-color: #f6f6f6;
  margin: auto;
  margin: 30px auto 0;
}
.projects .container .repos-container .get-repos {
  padding: 20px;
  display: flex;
  background-color: #eee;
}
.projects .container .repos-container .get-repos input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  height: 54px;
  border-radius: 6px;
}
.projects .container .repos-container .get-repos input:focus {
  outline: 2px solid var(--main-color);
}
.projects .container .repos-container .get-repos .get-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin-left: 10px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}
.projects .container .repos-container .show-data {
  padding: 20px;
  background-color: #e0e0e0;
  font-size: 18px;
}
.projects .container .repos-container .show-data .repo-box {
  background-color: #fff;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  gap: 10px;
}
.projects .container .repos-container .show-data .repo-box:not(:last-child) {
  margin-bottom: 5px;
}
.projects .container .repos-container .show-data .repo-box a {
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  width: 90px;
  text-align: center;
  padding: 4px;
}
@media (max-width: 575px) {
  .projects .container p:first-child,
  .projects .container .repos-container .get-repos input,
  .projects .container .repos-container .get-repos .get-button,
  .projects .container .repos-container .show-data .repo-box {
    font-size: 12px;
  }
  .projects .container .repos-container .show-data .repo-box a {
    width: 75px;
  }
}
.projects .container .repos-container .show-data .repo-box a:first-child {
  text-decoration: none;
  background-color: #e91e63;
}
.projects .container .repos-container .show-data .repo-box a:last-child {
  background-color: #009688;
}
/* End Projects Section */
/* Start Career Section */
.objective {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.objective .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  align-items: center;
  gap: 30px;
}
@media (min-width: 992px) {
  .objective .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.objective .container p {
  font-size: 18px;
  color: var(--writing-color);
  line-height: 1.5;
}
.objective .container img:hover {
  border: 1px solid var(--main-color);
}
@media (max-width: 991px) {
  .objective .container img {
    width: 100%;
  }
}
/* End Career Section */
/* Sart Download Section */
.cv-download {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.cv-download p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.cv-download button {
  display: block;
  padding: 15px 25px;
  border: none;
  margin: 30px auto 0;
  background-color: var(--main-color);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.cv-download button:active {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .cv-download p,
  .cv-download button {
    font-size: 16px;
  }
}
/* End Download Section */
/* Start Footer */
footer {
  padding-top: var(--section-padding);
  background-color: var(--main-color);
  color: white;
}
footer h2 {
  width: fit-content;
  margin: 0 auto 30px;
  padding: 0 0 15px;
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid white;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* For Mobile Screens */
@media (max-width: 575px) {
  footer .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .container .social a,
footer .address div i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #f6821f;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: var(--main-duration);
}
footer .social div:first-child a:hover {
  background-color: #1877f2;
}
footer .social div:nth-child(2) a:hover {
  background-color: #0a66c2;
}
footer .social div:last-child a:hover {
  background-color: #fbbc05;
}
footer .address div, footer .social div {
  padding: 15px;
}
footer .address div i {
  cursor: auto;
}
footer .address div span,
footer .social div span {
  font-size: 20px;
}
footer .copy-right {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid rgb(255 255 255 / 10%);
  background-color: #094b93;
}
/* End Footer */
/* Start Scroll To Top */
.scroll-top {
  background-color: #f6821f;
  color: white;
  border: none;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  display: none;
  cursor: pointer;
}
/* End Scroll To Top */
