/* Start Variables */
:root {
  --section-background: #f6f6f6;
  --main-color: #105bac;
  --writing-color: #555;
  --section-padding: 70px;
  --main-duration: 0.3s;
}

/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Work Sans", Tahoma, Arial, sans-serif;
  background-color: #f6f6f6;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Page Scroll Progress */
.scroller {
  background-color: #f6821f;
  width: 0;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
/* End Page Scroll Progress */
/* Start Components */
.main-heading {
  padding: 10px 20px;
  margin: 0 auto calc(var(--section-padding) - 20px);
  border: 2px solid black;
  width: fit-content;
  font-size: 30px;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  transition: var(--main-duration);
  overflow: hidden;
}
.main-heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translatex(-50%);
  z-index: -1;
  transition: 0.4s;
}
.main-heading:hover {
  border: 2px solid white;
  color: white;
  font-size: 31px;
}
.main-heading:hover::before {
  box-shadow: 0 0 0 200px var(--main-color);
}
/* Start Components */
/* Start Header */
header {
  background-color: var(--main-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
header .container .logo img {
  height: 90px;
  width: 160px;
}
header .container div {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}
header .container div:hover ul {
  display: block;
}
header .container div ul {
  position: absolute;
  left: -32px;
  width: 150px;
  background-color: #fff;
  color: #777;
  border-radius: 6px;
  margin-top: 5px;
  text-align: center;
  display: none;
}
header .container div ul li {
  padding: 10px;
  font-size: 16px;
  transition: var(--main-duration);
}
header .container div ul li:first-child {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}
header .container div ul li:hover {
  color: #000;
  padding-left:20px;
}
/* End Header */
/* Start Nav */
nav {
  border-top: 1px solid rgb(255 255 255 / 10%);
  display: flex;
  align-items: center;
  background-color: var(--main-color);
}
.main-nav {
  display: flex;
}
.main-nav > li {
  position: relative;
}
@media (min-width: 992px) {
  .main-nav > li {
    width: 15%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav > li {
    width: 20%;
  }
}
.main-nav li:hover {
  background-color: rgb(22 81 144 / 60%);
}

.main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0px 10px;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
  transition: var(--main-duration);
}
@media (max-width: 767px) {
  .main-nav > li > a {
    font-size: 14px;
    height: 45px;
  }
}
.main-nav > li:last-child > a::before {
  content: "";
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6821f transparent;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}
.main-nav .links {
  display: none;
  min-width: 250px;
  position: absolute;
  top: 70px;
  right: -54px;
  background-color: var(--main-color);
  border-top: 2px solid #f6821f;
}
@media (max-width: 991px) {
  .main-nav .links {
    right: 0;
  }
}
@media (max-width: 767px) {
  .main-nav .links {
    top: 45px;
  }
}
.main-nav .links li:not(:last-child) {
  border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.main-nav .links li a {
  display: block;
  padding: 15px 10px;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
  transition: var(--main-duration);
}
@media (max-width: 767px) {
  .main-nav .links li a {
    font-size: 14px;
  }
}
.main-nav .links li a:hover {
  padding-left: 20px;
}
.main-nav > li:last-child:hover a::before,
.main-nav > li:last-child:hover .links {
  display: block;
}
.main-nav .links li i {
  margin-right: 10px;
}
/* End Nav */
/* Start Welcome Section */
.welcome {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.welcome .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .welcome .container {
    flex-direction: column;
  }
}
.welcome .container h1 {
  font-size: 34px;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.welcome .container .hello-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
.welcome .container .hello-box h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.welcome .container .hello-box p {
  font-size: 18px;
  padding: 15px;
  color: var(--writing-color);
  line-height: 1.5;
  text-align: center;
}
.welcome .container .hello-box p:hover {
  color: black;
}
.welcome .container figure {
  max-width: 50%;
}
.welcome .container figure div {
  overflow: hidden;
}
.welcome .container figure img {
  max-width: 100%;
  border-radius: 6px 6px 0 0;
  transition: var(--main-duration);
}
.welcome .container figure img:hover {
  transform: scale(1.3) rotate(5deg);
}
.welcome .container figure figcaption {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: var(--main-color);
  padding: 10px;
  border-radius: 0 0 6px 6px;
}
.welcome .container figure figcaption:hover {
  color: white;
}
@media (max-width: 767px) {
  .welcome .container .hello-box {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .welcome .container figure {
    min-width: 100%;
  }
  .welcome .container figure img {
    min-width: 100%;
  }
}
/* End Welcome Section */
/* Start Personal Information Section  */
.personal-info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.personal-info .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.personal-info .box .info-box {
  padding: 15px 10px;
  font-size: 18px;
  border-bottom: 2px solid #eee;
}
.personal-info .box .info-box span:first-child {
  font-weight: 600;
}
.personal-info .box .info-box span:last-child {
  color: var(--writing-color);
}
.personal-info .box .info-box span:last-child:hover {
  color: black;
}
/* End Personal Information Section  */
/* Start Skills Section */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.skills .container .skill h3 {
  font-size: 28px;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  color: var(--main-color);
}
.skills .container .skill div {
  padding: 15px 10px;
  font-size: 18px;
  border-bottom: 2px solid #eee;
}
.skills .container .skill .summary span {
  display: block;
  font-weight: 600;
}
.skills .container .skill .summary p {
  margin: 15px 0 15px;
  line-height: 1.5;
}
.skills .container .skill .content span {
  display: block;
  font-weight: 600;
}
.skills .container .skill .content ol {
  list-style-position: inside;
  margin: 15px 0;
}
.skills .container .skill h3 + p {
  padding: 15px 10px;
  margin: 15px 0 15px;
  line-height: 1.5;
  font-size: 18px;
  border-bottom: 2px solid #eee;
}
/* End Skills Section */
/* Start Education Section */
.education {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.education .university {
  font-size: 18px;
  padding: 15px 10px;
}
.education .container span:first-child {
  font-weight: 600;
}
.education .container span:last-child {
  line-height: 1.5;
  color: var(--writing-color);
}
/* End Education Section */
/* Start Work Experience Section  */
.experience {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.experience .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}
.experience .container .job {
  border: 1px solid #ccc;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.experience .container .job div {
  padding: 15px 10px;
  font-size: 18px;
  border-bottom: 2px solid #eee;
  transition: var(--main-duration);
}
.experience .container .job div:hover {
  border-bottom-color: #f6821f;
  padding-left: 15px;
}
.experience .container .job div span:first-child {
  font-weight: 600;
}
/* End Work Experience Section  */
/* End Languages Section  */
.languages {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.languages .lang {
  padding: 15px 10px;
  font-size: 18px;
}
.languages .lang span:first-child {
  font-weight: 600;
}
.languages .lang span:last-child {
  color: var(--writing-color);
}
.languages .lang span:last-child:hover {
  color: black;
}
/* End Languages Section  */
/* Start Projects Section */
.projects {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.projects .container p:first-child {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.projects .container .repos-container {
  background-color: #f6f6f6;
  margin: auto;
  margin: 30px auto 0;
}
.projects .container .repos-container .get-repos {
  padding: 20px;
  display: flex;
  background-color: #eee;
}
.projects .container .repos-container .get-repos input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  height: 54px;
  border-radius: 6px;
}
.projects .container .repos-container .get-repos input:focus {
  outline: 2px solid var(--main-color);
}
.projects .container .repos-container .get-repos .get-button {
  width: 140px;
  margin-left: 10px;
  height: 54px;
  background-color: var(--main-color);
  color: #fff;
  line-height: 54px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}
.projects .container .repos-container .show-data {
  padding: 20px;
  background-color: #e0e0e0;
  font-size: 18px;
}
.projects .container .repos-container .show-data .repo-box {
  background-color: #fff;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  gap: 10px;
}
.projects .container .repos-container .show-data .repo-box:not(:last-child) {
  margin-bottom: 5px;
}
.projects .container .repos-container .show-data .repo-box a,
.projects .container .repos-container .show-data .repo-box span {
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  width: 90px;
  text-align: center;
  padding: 4px;
}
.projects .container .repos-container .show-data .repo-box a:first-child {
  text-decoration: none;
  background-color: #e91e63;
}
.projects .container .repos-container .show-data .repo-box a:last-child {
  background-color: #009688;
}
/* End Projects Section */
/* Start Career Section */
.objective {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.objective .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: center;
  gap: 30px;
}
.objective .container p {
  font-size: 18px;
  color: var(--writing-color);
  line-height: 1.5;
}
.objective .container img:hover {
  border: 1px solid var(--main-color);
}
@media (max-width: 991px) {
  .objective .container img {
    width: 100%;
  }
}
/* End Career Section */
/* Sart Download Section */
.cv-download {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.cv-download p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.cv-download button {
  display: block;
  padding: 15px 25px;
  border: none;
  margin: 30px auto 0;
  background-color: var(--main-color);
  border-radius: 6px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.cv-download button:active {
  opacity: 0.7;
}
/* End Download Section */
/* Start Footer */
footer {
  padding-top: var(--section-padding);
  background-color: var(--main-color);
  color: white;
}
footer h2 {
  width: fit-content;
  margin: 0 auto 30px;
  padding: 0 0 15px;
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid white;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  align-items: center;
  gap: 30px;
}
footer .container .social a,
footer .address div i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #f6821f;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: var(--main-duration);
}
footer .social a:first-child:hover {
  background-color: #1877f2;
}
footer .social a:nth-child(2):hover {
  background-color: #0a66c2;
}
footer .social a:last-child:hover {
  background-color: #fbbc05;
}
footer .address div {
  padding: 15px;
}
footer .address div i {
  cursor: auto;
}
footer .address div span {
  font-size: 18px;
}
footer .copy-right {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid rgb(255 255 255 / 10%);
}
/* End Footer */
/* Start Scroll To Top */
.scroll-top {
  background-color: #f6821f;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  display: none;
  cursor: pointer;
}
/* End Scroll To Top */
